
body
{
    background:#777;
    font-family:Arial, Helvetica, sans-serif;   
 

}
header
{
    background: #ebebeb;
    padding:2px;
    margin-bottom:5px;
    margin-left: 60px;
    margin-right:60px;
    text-align:center;
    height:40px;

}

nav
{
    background: #ebebeb;
   padding:10px;
   margin-bottom:10px;
    margin-left: 60px;
    margin-right:60px;
    text-align: center;

}

section
{
   
    
}

#left{

    background: #ebebeb;
    width:46%;  
    margin-left: 59px;
    float:left;
    margin-bottom: 20px;
    height:250px;
}

.box-3
{
    background: #ebebeb;
    margin-left:10px;
    width:47%;  
    float:left;
    height:250px;
    text-align: center;
    
}

footer
{
    clear:both;
    background: #ebebeb;
    margin-left: 60px;
    margin-right:60px;
    padding:10px;
    text-align: center;
    overflow:auto;
    
}

article
{
    background: #777;
    width:95%;  
    margin-left: 2%;
    text-align: center;
    
}

h3
{  
    
    width:420px;
    
}

p
{
      
    background: #ebebeb;
    padding:2px;
    width:85%;
    margin-bottom:100px;
    margin-left: 60px;
    margin-right:60px;
    text-align:center;
    height:40px;
    
}